<% layout('layout') -%>

<h1>Bootstrap starter template</h1>

<form action="/urls" method="POST">
	<input type="text" name="url" placeholder="new url">
	<button>Shorten URL</button>
</form>

<p class="">Use this document as a way to quickly start any new project.<br> 

All you get is this text and a mostly barebones HTML document.</p>